.react-calendar {
    width: 100%;
    background-color: #C0C0C0;
    border: none;
    color: #fff;
    font-size: 15px;
  }
  
  .react-calendar__navigation__label__labelText,
  .react-calendar__navigation__arrow {
    color:#282c34;
    font-size: 15px;
  }
.react-calendar__navigation__label__labelText--from {
   color:#282c34;
  }
  .react-calendar__tile--now {
    border: 1px solid #fff;
    background-color: #373742;
    font-size: 15px;
  }
  
  .react-calendar__month-view__days__day {
    color: #7a7c8a;
    font-size: 15px;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #7a7c8a;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #44444e;
  }

.react-calendar__month-view__weekdays__weekday {
 color: #C0C0C0;
}